body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.video-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
    background: #ccc;
    justify-content: center;
    align-content: baseline;
}

.video-wrap video{
    width: 100%;
    height: 100%;
    background: #ccc;
}

.publisher{
    position: relative;
}

.publisher .button-wrap{
    opacity: 0.3;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 30px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.publisher:hover .button-wrap{
    opacity: 1;
}
