<div {{did-insert this.didInsert}}>
    <VideoChat::Publisher @stream={{this.publisherStream}}/>
    <br>
    <VideoChat::Subscriber @stream={{this.subscribeStream}}/>
    <VideoChat::Subscriber @stream={{this.subscribeStream2}}/>
</div>

