<div {{did-insert this.didInsert}} class="video-wrap">
    <VideoChat::Publisher @stream={{this.publisherStream}}/>

    {{#each this.subscribes as |subscriber|}}
        <VideoChat::Subscriber @videoElement={{subscriber.element}}/>
    {{/each}}
</div>

