<div {{did-insert this.didInsert}} class="video-wrap">
    <VideoChat::Publisher @stream={{this.publisherStream}}/>

    {{#each this.subscribeStreams as |stream|}}
        <VideoChat::Subscriber @stream={{stream}}/>
    {{/each}}
</div>

